
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    h1,button {
  background-color:#453f85;
  border: none;
  color: white;
  padding: 20px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}
</style>
<body>
<center><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h1>Order Confirmed</h1><br>
<button style="width: fit-content;"><a class="button" style="color:white;text-decoration:none;" href="{% url 'schoolApp:demo' %}">Direct to Home</a></button>
 </center>
</body>
</html>