<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<style>
  button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}
</style>
<body>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br>
<br>
<br>

<center>
<button><a href="{% url 'schoolApp:newForm' %}"  style="color:white;text-decoration:none;">Click me to proceed</a> </button>

</center>
</body>
</html>